
<%= javascript_include_tag "plugins/peity/jquery.peity.min.js", "plugins/jquery-ui/jquery-ui.min.js", "plugins/iCheck/icheck.min.js", "demo/peity-demo.js",'jquery-ui.custom.min.js', "plugins/iCheck/icheck.min.js","inspinia.js","plugins/pace/pace.min.js", "jquery-2.1.1.js","bootstrap.min.js","plugins/metisMenu/jquery.metisMenu.js","plugins/slimscroll/jquery.slimscroll.min.js" 'data-turbolinks-track' => true %>

<div id="wrapper">
  <div class="col-lg-10">
    <h2 class= "pull-left"> Projekt Übersicht</h2>
  </div>

  <button class="btn btn-outline btn-info  dim" type="button" data-toggle="modal" data-target="#create_project">
    <i class="fa fa-paste"></i>
    Neues Projekt
  </button>
</div>


<div class="wrapper wrapper-content  animated fadeInRight">
  <%if @projects.count() >0 %>
      <%@projects.each do |project|%>
          <div class= "col-xs-12 col-sm-6 col-md-4" >
            <div class="widget lazur-bg p-xl" id = "widget">

              <h2>
                <%=link_to dashboard_url(:id => project.pid), :controller => 'packets', :action => 'dashboard' do%> #<%=project.pid %> <%=project.project_name %> <%end%>
              </h2>
              <ul class="list-unstyled m-t-md">
                <li>
                  <span class="fa fa-user m-r-xs"></span>
                  <label>Projektleitung:</label>
                  <%= project.first_name %> <%= project.last_name%>
                </li>
                <li>
                  <span class="fa fa-calendar m-r-xs"></span>
                  <label>Deadline:</label>
                  <%=project.deadline %>
                </li>
                <li>
                  <span class="fa fa-file-text-o m-r-xs"></span>
                  <label>Beschreibung:</label>
                  <%=project.description %>
                </li>
              </ul>

            </div>
        </div>
      <%end%>
      <%else%>
        <h1 class="logo-name">Aktuell keine Projekte</h1>
  <%end%>

</div>


<div class="modal fade" id="create_project" tabindex="-1" role="dialog" aria-labelledby="todo-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="todo-label">Projekt erstellen?</h4>
      </div>
      <div class="modal-body"> Projekt erstellen?
      </div>
      <div class="modal-footer">
        <%= link_to 'create_project', :controller => 'project', :action => 'new' do%>
            <button type="button" class="btn btn-primary">Projekt erstellen</button>
        <%end%>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
   </div>
</div>
