
<%= javascript_include_tag "plugins/peity/jquery.peity.min.js", "plugins/jquery-ui/jquery-ui.min.js", "plugins/iCheck/icheck.min.js", "demo/peity-demo.js",'jquery-ui.custom.min.js', "plugins/iCheck/icheck.min.js","inspinia.js","plugins/pace/pace.min.js", "jquery-2.1.1.js","bootstrap.min.js","plugins/metisMenu/jquery.metisMenu.js","plugins/slimscroll/jquery.slimscroll.min.js" 'data-turbolinks-track' => true %>
<div id="wrapper">
  <div class="col-lg-10">
    <h2 class= "pull-left"> Projektmitglieder hinzufügen</h2>
  </div>

  <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          Schritt für Schritt ein neues Projekt erstellen
        </div>
            <div class="col-lg-10">
            <div class="ibox float-e-margins">
              <div class="ibox-title" align="center">
                <h5>Projektmitglieder:</h5>
              </div>
              <div class="ibox-content">

                <% @users.each do |user| %>
                    <div class = "col-lg-10", style="font-weight:bold;"><%=user.first_name%> <%=user.last_name%></div> <%=user.email%>
                    </br>
                <%end%>
            </div>
          </div>
          </div>
                <%= form_for(:user, as: :user, url: { action: 'addMember' }, html: {method: 'post'}) do |f| %>
                    <%= f.text_field(:email, :autofocus => true ) %>
                    <%= hidden_field_tag :id, params[:id] %>
                  <%= f.submit 'Weiter', :class=>'btn btn-outline btn-primary dim pull-right' %>
                    <%= f.submit 'Add', :class=>'btn btn-outline btn-primary dim pull-right' %>

                <% end %>
       </div>
    </div>
   </div>
</div>


