
<%= javascript_include_tag "plugins/peity/jquery.peity.min.js", "plugins/jquery-ui/jquery-ui.min.js", "plugins/iCheck/icheck.min.js", "demo/peity-demo.js",'jquery-ui.custom.min.js', "plugins/iCheck/icheck.min.js","inspinia.js","plugins/pace/pace.min.js", "jquery-2.1.1.js","bootstrap.min.js","plugins/metisMenu/jquery.metisMenu.js","plugins/slimscroll/jquery.slimscroll.min.js" 'data-turbolinks-track' => true %>

<div class="col-xs-3 col-sm-3 col-md-3">
    <div class="ibox float-e-margins" >
        <div class="ibox-title" align="center">
            <h5>Aufgaben</h5>
        </div>
        <div class="ibox-content" >
        <% @packets1.each do |packet| %>
                <button type="button" class="btn btn-outline btn-default col-lg-12" style='white-space: normal;word-wrap:break-word;' data-toggle="modal" data-target="#packet-<%=packet.id%>"><%=packet.packet_name %></button>

                <br>
                <br>
              <div class="modal fade" id="packet-<%=packet.id%>" tabindex="-1" role="dialog" aria-labelledby="todo-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="todo-label">Aufgabenverwaltung - Paket <%=packet.id%></h4>
                    </div>
                    <div class="modal-body"><%= form_for(:packet, as: :packet, url: { action: 'update' }) do |f| %>
                          <div class="form-group"><%= f.text_field        :packet_name,             :value => packet.packet_name, :placeholder => 'Paketname', :autofocus => true   ,:class=>'form-control'  %> </div>
                          <div class="form-group"><%= f.number_field   :expenses,  step: 0.01,         :value => packet.expenses, :placeholder => 'Kosten', :class=>'form-control'  %> </div>
                          <div class="form-group"><%= f.date_field        :start_date,            :value => packet.start_date , :placeholder => 'Start'          ,:class=>'form-control'   %> </div>
                          <div class="form-group"><%= f.date_field        :deadline,             :value => packet.deadline, :placeholder => 'Deadline'            ,:class=>'form-control'   %> </div>
                          <div class="form-group"><%= f.text_field       :description,                 :value => packet.description , :placeholder => 'Beschreibung'    ,:class=>'form-control'   %> </div>
                          <%= f.hidden_field :projects_id, :value => params[:id] %>
                          <%= f.hidden_field :packets_id, :value => packet.id %>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit  'Aufgabe bearbeiten', :class=>'btn btn-primary dim'%>
                            <%= f.submit "Aufgabe annehmen", :class => 'btn btn-primary dim'%>
                            <%= f.submit "Löschen", :class => 'btn btn-primary dim'%>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
                          </div>

                      <% end %>
                      </div>
                </div>
              </div>
          <%end%>
            <br>
        </div>
    </div>
</div>

<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title" align="center">
            <h5>In Bearbeitung</h5>
        </div>
        <div class="ibox-content">
            <% @packets2.each do |packet| %>

              <button type="button" class="btn btn-outline btn-default col-lg-12" style='white-space: normal;word-wrap:break-word;
'data-toggle="modal" data-target="#packet-<%=packet.id%>"><%=packet.packet_name %></button>

              <div class="modal fade" id="packet-<%=packet.id%>" tabindex="-1" role="dialog" aria-labelledby="todo-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="todo-label">Aufgabenverwaltung - Paket <%=packet.id%></h4>
                    </div>
                    <div class="modal-body"><%= form_for(:packet, as: :packet, url: { action: 'update' }) do |f| %>
                          <div class="form-group"><%= f.text_field        :packet_name,             :value => packet.packet_name, :placeholder => 'Paketname', :autofocus => true   ,:class=>'form-control'  %> </div>
                          <div class="form-group"><%= f.number_field   :expenses,  step: 0.01,         :value => packet.expenses, :placeholder => 'Kosten', :class=>'form-control'  %> </div>
                          <div class="form-group"><%= f.date_field        :start_date,            :value => packet.start_date , :placeholder => 'Start'          ,:class=>'form-control'   %> </div>
                          <div class="form-group"><%= f.date_field        :deadline,             :value => packet.deadline, :placeholder => 'Deadline'            ,:class=>'form-control'   %> </div>
                          <div class="form-group"><%= f.text_field       :description,                 :value => packet.description , :placeholder => 'Beschreibung'    ,:class=>'form-control'   %> </div>
                          <%= f.hidden_field :projects_id, :value => params[:id] %>
                          <%= f.hidden_field :packets_id, :value => packet.id %>
                    </div>
                    <div class="modal-footer">
                      <%= f.submit  'Aufgabe bearbeiten', :class=>'btn btn-primary dim'%>
                      <%= f.submit "Aufgabe abschließen", :class => 'btn btn-primary dim'%>
                      <%= f.submit "Löschen", :class => 'btn btn-primary dim'%>
                      <%= f.submit "Fehler melden", :class => 'btn btn-primary dim'%>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
                    </div>

                      <% end %>
                      </div>
                </div>
              </div>




            <%end%>

                <br>
                <br>

            <br>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title" align="center">
            <h5>Fertig</h5>
        </div>
        <div class="ibox-content">
            <% @packets3.each do |packet| %>
            <button type="button" class="btn btn-outline btn-default col-lg-12" style='white-space: normal;word-wrap:break-word';><%=packet.packet_name %></button>
            <br>
            <br>
            <%end%>

            <br>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title" align="center">
            <h5>Fehler</h5>
        </div>
        <div class="ibox-content">
            <% @packets4.each do |packet| %>
              <%= link_to new_comment_url(:id => packet.id), :controller => 'comments', :action => 'new' do%>
                  <button type="button" class="btn btn-outline btn-warning col-lg-12" style='white-space: normal;word-wrap:break-word;'><%=packet.packet_name %></button>
              <%end%>
            <br>
            <br>

         </div>


            <%end%>

            <br>
    </div>
</div>

