
<%= javascript_include_tag "plugins/peity/jquery.peity.min.js", "plugins/jquery-ui/jquery-ui.min.js", "plugins/iCheck/icheck.min.js", "demo/peity-demo.js",'jquery-ui.custom.min.js', "plugins/iCheck/icheck.min.js","inspinia.js","plugins/pace/pace.min.js", "jquery-2.1.1.js","bootstrap.min.js","plugins/metisMenu/jquery.metisMenu.js","plugins/slimscroll/jquery.slimscroll.min.js" 'data-turbolinks-track' => true %>
<div id="wrapper">
  <div class="col-lg-10">
    <h2 class= "pull-left"> Arbeitspaket anlegen</h2>
  </div>

  <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row" >
        <div class="ibox ">
          <div class="ibox-title">
                  Ein oder mehrere Arbeitspakete anlegen
          </div>



          <%= form_for(:packet, as: :packet, url: { action: 'create' }) do |f| %>
              <div class="form-group"><%= f.text_field        :packet_name,             :placeholder => 'Paketname',:autofocus => true   ,:class=>'form-control'  %> </div>
              <div class="form-group"><%= f.number_field   :expenses,  step: 0.01,         :placeholder => 'Kosten',  :class=>'form-control'  %> </div>
              <div class="form-group"><%= f.date_field        :start_date,            :placeholder => 'Start'               ,:class=>'form-control'   %> </div>
              <div class="form-group"><%= f.date_field        :deadline,             :placeholder => 'Deadline'              ,:class=>'form-control'   %> </div>
              <div class="form-group"><%= f.text_field       :description,                 :placeholder => 'Beschreibung'         ,:class=>'form-control'   %> </div>
              <%= f.hidden_field :projects_id, :value => params[:id] %>
             <%= f.submit "Paket erstellen", :class=>'btn btn-outline btn-primary dim pull-right'%>
              <%= f.submit 'Fertig', :class=>'btn btn-outline btn-primary dim pull-right'%>

          <% end %>


<script>
    $(document).ready(function(){
        <!-- Enable portlets -->
        WinMove();
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>

