<!DOCTYPE html>
<head>
  <title>Majom| Project management</title>
  <%= stylesheet_link_tag    'application', 'bootstrap.min.css', 'font-awesome/css/font-awesome.css', 'animate.css', 'style.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "plugins/fullcalendar/fullcalendar.min.js",'jquery-ui.custom.min.js', "plugins/iCheck/icheck.min.js","inspinia.js","plugins/pace/pace.min.js", "jquery-2.1.1.js","bootstrap.min.js","plugins/metisMenu/jquery.metisMenu.js","plugins/slimscroll/jquery.slimscroll.min.js", 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
 <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
					<img alt="" class="img-circle" src= 'assets/no_image.png' width="100" height="100" />
				</span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"> </a>
                            <span class="clear">
                              <span class="block m-t-xs">
                                <strong class="font-bold">

                                </strong>
                             </span>
                            </span>
                        </div>
                        <div class="logo-element">
                            Majom
                        </div>
                    </li>
                  <li class="active">


                  </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Projekte</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li><%=link_to 'Übersicht', overview_url, method: :get%> </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-calendar"></i> <span class="nav-label">Termine </span></a>

                      <ul class="nav nav-second-level">

                        <li><a href="events">Übersicht </a></li>
                        <li><%=link_to 'Kalender', calendar_url, method: :get%></li>


                      </ul>
                    </li>
                  <li>
                    <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Dokumentation </span></a>
                    <ul class="nav nav-second-level">
                      <li><%=link_to 'Datenbank-Model', 'uml'%></li>
                      <li><%=link_to 'Übersicht MVC' , 'mvc' %></li>
                      <li><%=link_to 'Anwendungsfall','use_case' %></li>
                      <li><%=link_to 'Github','https://github.com/tremonia1909/majom' %></li>
                      <li><%=link_to 'Testfälle', '#' %></li>
                      <li><%=link_to 'Konzeption', 'mindmap' %></li>
                      <li><%=link_to 'Controller', 'controller' %></li>
                    </ul>
                  </li>

                </ul>
            </div>
          </nav>


        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome Majom | Projektmanagement.</span>
                </li>

                <li>
                  <% if user_signed_in? %>
                  <i class="fa fa-sign-out"><%= link_to "Abmelden", destroy_user_session_path, method: :delete  %></i>
                  <% else %>
                  <% end %>
                </li>
            </ul>

        </nav>
        </div>
<%= yield %>


        </div>
</div>
    
</body>
</html>
