<!DOCTYPE html>
<head>
  <title>Majom| Project management</title>
  <%= stylesheet_link_tag    'application', 'bootstrap.min.css', 'font-awesome/css/font-awesome.css', 'animate.css', 'style.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',"jquery-2.1.1.js","bootstrap.min.js","plugins/metisMenu/jquery.metisMenu.js","plugins/slimscroll/jquery.slimscroll.min.js" 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
                            <span>
                            <img alt=" " class="img-circle" src="img/profile_small.jpg" />
                            </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#"> </a>
                            <span class="clear">
                              <span class="block m-t-xs">
                                <strong class="font-bold">
                                  <% if user_signed_in? %>
                                      <strong><%= current_user.first_name%> <%= current_user.last_name%></strong><br>
                                      <%= link_to 'Einstellungen', edit_user_registration_path %><br>
                                      <%= link_to "Abmelden", destroy_user_session_path, method: :delete  %>
                                  <% else %>
                                      <%= link_to "Registrieren", new_user_registration_path%><br>
                                      <%= link_to "Anmelden", new_user_session_path %>
                                  <% end %>
                                </strong>
                             </span>
                            </span>


              <% if user_signed_in? %>
              <li>
                <a href="#"><i class="fa fa-star"></i><span class="nav-label"><%= current_user.first_name%> <%= current_user.last_name%></span></a>
                <ul class="nav nav-second-level">
                  <li><%= link_to 'Einstellungen', edit_user_registration_path %></li>
                  <li><%= link_to "Abmelden", destroy_user_session_path, method: :delete%></li>

              <% end %>

            </ul>
            </li>


        </div>
      </li>
    </ul>
  </div>
</nav>
</div>
<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <%= yield %>
    </div>
</div>

</body>
</html>
